<h1>
    Hello Minions!
</h1>

<h1>Enter minion:</h1>
<form action="/insert" method="POST">
    <input type="text" name="minion" />
    <input type="submit" value="Add my minion" />
</form>


<a href="/show/minions">Show minions</a>